<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <td th:text="${member.id}"></td>
    </tr>
    <tr>
        <th>계정</th>
        <td th:text="${member.memberEmail)}"></td>
    </tr>
    <tr>
        <th>비밀번호</th>
        <td th:text="${member.memberPassword}"></td>
    </tr>
    <tr>
        <th>이름</th>
        <td th:text="${member.memberName}"></td>
    </tr>
    <tr>
        <th>생년월일</th>
        <td th:text="${member.memberBirth)}"></td>
    </tr>
    <tr>
        <th>전화번호</th>
        <td th:text="${member.memberMobile)}"></td>
    </tr>
</table>
</body>
</html>