<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container">
    <!-- 화면에 보여질 내용이 들어갈 부분 -->
    <table class="table table-hover">
        <tr>
            <th>id</th>
            <td th:text="${member.id}"></td>
        </tr>
        <tr>
            <th>email</th>
            <td th:text="${member.memberEmail}"></td>
        </tr>
        <tr>
            <th>name</th>
            <td th:text="${member.memberName}"></td>
        </tr>
        <tr>
            <th>birth</th>
            <td th:text="${member.memberBirth}"></td>
        </tr>
        <tr>
            <th>mobile</th>
            <td th:text="${member.memberMobile}"></td>
        </tr>
    </table>

</div>

<div th:replace="~{component/footer :: footer}"></div>

</body>
</html>