.menu {
    display: flex;
    align-items: center;
    background-color: black;
}

.menu-item {
    list-style-type: none;
    margin-left: 20px;
}

/* menu-item 클래스가 적용된 요소 내부의 a 태그 요소 */
.menu-item a {
    text-decoration: none;
    /* a태그는 기본적으로 inline 요소
        inline 요소는 높이, 너비를 가질 수 없음.
        높이, 너비를 가지려면 block 요소여야 함.
        아래 문법은 block요소로 하는 방법임.
     */
    display: block;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.menu-item a:hover {
    background-color: gray;
}

#login-area {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
}

#login-area a {

}